{% extends "master.html" %}
{% block title %}Resume{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" 
href="static/style.css"
type="text/css" 
media="screen" 
charset="utf-8" />
<!--[if lte IE 6]>
<link rel="stylesheet"
href="static/ie6.css"
type="text/css" 
media="screen" 
charset="utf-8" />
<![endif]-->
{% endblock %}
{% block content %}
{% import 'templates/macros.jinja2' as macros %}
{% import 'templates/forms.jinja2' as forms %}
<div class="wrap">
  <div class="short items">
    <div class="short items header">
      Short Items
    </div>
    {{ forms.add_categories_form() }}
    {{ macros.categories_display(categories) }}
  </div>
</div>
{% endblock %}



