{% extends "master.html" %}
{% block title %}Resume{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" 
href="static/style.css"
type="text/css" 
media="screen" 
charset="utf-8" />
<!--[if lte IE 6]>
<link rel="stylesheet"
href="static/ie6.css"
type="text/css" 
media="screen" 
charset="utf-8" />
<![endif]-->
{% endblock %}
{% block content %}
{% import 'templates/forms.jinja2' as forms %}
<div class="wrap">
  <div class="short items">
    <div class="short items header">
      Short Items
    </div>
    <div>
      {{ forms.short_item_form() }}
    </div>
    {{ forms.delete_item("short", short_items)}}
  </div>
  <div class="long items">
    <div class="long items header">
      Long Items
    </div>
    <div>
      {{ forms.long_item_form() }}
    </div>
    {{ forms.delete_item('long', long_items) }}
  </div>
  <div class="category items">
    <div class="categories header">
      Categories
    </div>
    <div>
      {{ forms.add_category() }}
    </div>
    {{ forms.delete_item('category', categories) }}
  </div>
</div>
{% endblock %}



