{% macro short_item_form() %}
<form class="short item form" action="" method="post">
  <div>
    <input type="text" name="text" />
    <input type="hidden" name="form_name" value="new_short_item" />
  </div>
  <div>
    <input type="submit" value="Add item">
  </div>
</form>
{% endmacro %}

{% macro long_item_form() %}
<form class="long item form" action="" method="post">
  <div>
    <textarea rows="2" cols="80" name="text" ></textarea>
  </div>
  <div>
    <input type="hidden" name="form_name" value="new_long_item"/>
    <input type="submit" value="Add item">
  </div>
</form>
{% endmacro %}

{% macro add_category() %}
<form class="category form" action="" method="post">
  <div>
    <input type="text" name="label" />
    <input type="hidden" name="form_name" value="new_category" />
    <br>
    <input type="submit" value="Add Category" />
  </div>
</form>
{% endmacro %}

{% macro select_item(class='', item_list) %}
<fieldset class="{{class}}">
  {% for item in item_list %}
  {% if item.text %}
  {% set out = item.text %}
  {% elif item.label %}
  {% set out = item.label %}
  {% else %}
  {% set out = "" %}
  {% endif %}
  <label class="{{class}} selection"><input type="checkbox"  name="{{class}}_{{item.id}}"/>{{out}}</label>
  {% if class=='long' %}
  <br>
  {% endif %}
  {% endfor %}
</fieldset>
{% endmacro %}

{% macro delete_item(class='', item_list) %}
<form class="{{class}} form delete" action="" method="post">
  <div>
    <input type="submit" value="Delete items">
  </div>
  <div class="{{class}} fields">
    {{ select_item(class, item_list) }}
  </div>
  <input type="hidden" name="form_name" value="delete_{{class}}_item"/>
</form>
{% endmacro %}


{% macro login() %}
<div class="login box">
  <form action="/" method="post">
    <label class="login">Username:</label><input class="right" type="text" name="login" /><br>
    <label class="login">Password:</label><input class="right"type="password" name="password"/><br>
    <div class="right">
      <input class="login" type="submit" name="form.submitted" value="Login" />
      <a class="right" href='/register'>Register?</a>
    </div>
    <input type="hidden" name="form_name" value="login_form"/>
  </form>
</div>
{% endmacro %}

{% macro main_options() %}
<div class="main option">
  <a class="main option" href="/resumes/new">Start new Resume</a><br>
</div>
<div class="main option">
  <a class="main option" href="/resumes/view">Edit existing Resume</a><br>
</div>
<div class="main option">
  <a class="main option" href="/items/edit">Edit tidbits</a><br>
</div>
{% endmacro %}

{% macro linkedin() %}
<div>
  Coming soon
</div>
{% endmacro %}

{% macro email_reg() %}
<form action="" method="post">
  <label>Username: <input type="text" name="login" /></label>
  <label>Password: <input type="password" name="password"/></label>
  <label>Password: <input type="password" name="password_check"/></label>
  <input class="register" type="submit" name="form.submitted" value="Register">
</form>
{% endmacro %}

{% macro select_resumes(resumes, request) %}
<div class="resume display">
  {% for resume in resumes %}
  <div class="resume display">
    <div class="resume display title">
      <a href="/resumes/{{resume.id|string}}/edit">{{resume.title}}</a>
    </div>
    <div class="resume display preview">
      <a class="img-wrap" href="/resumes/{{resume.id|string}}/edit"><img class="resume display preview" width="220"
        src={{request.static_url('resumes:static/img/resumes/' + resume.id|string + '/preview.png')}} /></a>
    </div>
  </div>
  {% endfor %}
</div>
{% endmacro %}
