<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang="en">
  <head>
    {% block head %}
    <link rel="stylesheet" href={{request.static_url('resumes:static/style.css')}} />
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="keywords" content="Resume editor" />
    <meta name="description" content="Resume webapp.  Keep track of resume items, construct resumes" />
    {% endblock %}
  </head>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2014 by Arcidy Computational Services
      {% endblock %}
    </div>
  </body>
</html>
