{% extends "master.html" %}
{% block title %}Resume{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" 
href={{request.static_url('resumes:static/style.css')}}
type="text/css" 
media="screen" 
charset="utf-8" />
<!--[if lte IE 6]>
<link rel="stylesheet"
href="static/ie6.css"
type="text/css" 
media="screen" 
charset="utf-8" />
<![endif]-->
{% endblock %}
{% block content %}
{% import 'templates/macros.jinja2' as macros %}
<div class="wrap">
  {% if resumes %}
  {{ macros.select_resumes(resumes, request) }}
  {% else %}
  <a href='/resumes/new'>Start a new Resume</a>
  {% endif %}
</div>
{% endblock %}

