{% extends "master.html" %}
{% block title %}Resume{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" 
href={{request.static_url('resumes:static/style.css')}}
type="text/css" 
media="screen" 
charset="utf-8" />
<!--[if lte IE 6]>
<link rel="stylesheet"
href="static/ie6.css"
type="text/css" 
media="screen" 
charset="utf-8" />
<![endif]-->
{% endblock %}
{% block content %}
{% import 'templates/forms.jinja2' as forms %}
<div class="wrap">
  {% if resumes %}
  {% for resume in resumes %}
  <div>
    <a href='/resumes/{{resume.id}}/edit'>{{resume.title}}</a>
    <img src={{request.static_url('resumes:static/img/resumes/' + resume.id|string + '/preview.png')}}
    height=300 width=200>
  </div>
  {% endfor %}
  {% else %}
  <a href='/resumes/new'>Start a new Resume</a>
  {% endif %}
</div>
{% endblock %}

